<div class="card col-6 col-md-4 m-2">
    <section class="cardBody">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Description: <br />{{description}}</p>
    </section>
</div>