const newFormHandler = async (event) => {
event.preventDefault();
console.log("BUTTON WORKS!!!!!!!!!!");
const recipeName = document.querySelector("#recipe-name").value.trim();
const recipeDescription = document.querySelector("#recipe-description").value.trim();
const recipeIngredient = document.querySelector("#ingredient-name").value.trim();
const recipeInstructions = document.querySelector("#recipe-instructions").value.trim();
console.log("Recipe name:",recipeName);
console.log("Recipe Description:",recipeDescription);
console.log("Recipe Ingredients:",recipeIngredient);
console.log("Recipe Instructions:",recipeInstructions);
if (recipeName && recipeDescription &&recipeIngredient && recipeInstructions) {
const response = await fetch('/api/recipe', {
method: 'POST',
body: JSON.stringify({ recipeName,recipeDescription,recipeIngredient,recipeInstructions }),
headers: { 'Content-Type': 'application/json' },
});
// const response = await Promise.all([fetch('/api/recipe', {
// method: 'POST',
// body: JSON.stringify({ recipeName,recipeDescription,recipeIngredient,recipeInstructions }),
// headers: { 'Content-Type': 'application/json' },
// }), fetch('api/recipe',{
// method: 'POST',
// headers: { 'Content-Type': 'application/json' },
// })]);
if (response.ok) {
document.location.replace('/profile');
} else {
alert('Failed to post recipe.');
}
};
};
document
.querySelector('.add-recipe-form')
.addEventListener('submit', newFormHandler);





10:05
<div class="header">
    <div class="container">
        <h1 class="header-add-recipe">What recipe do you want to save today?</h1>
    </div>
</div>
<section class="recipe-container">
    <form class="add-recipe-form">
        <div class="container">
            <input class="input" type="text" id="recipe-name" placeholder="Add a recipe name">
            {{!-- <div>
                <textarea class="input" type="text" id="recipe-description" placeholder="Add a short description"
                    rows="4" cols="80%">
      </textarea>
            </div> --}}
            <div>
                <textarea class="description" id="recipe-description"
                    placeholder="Write a short description of your recipe" rows="4" cols="80%"></textarea>
            </div>
            <div>
                <textarea class="description" id="recipe-instructions" placeholder="Recipe Instructions" rows="10"
                    cols="80%"></textarea>
            </div>
            <div id="ingredients-container">
                <h2>Ingredients</h2>
                <div id="ingredients-section">
                </div>
                <div>
                    {{!-- <form id="ingredient-form"> --}}
                        {{!-- <input class="input" type="text" name="ingredient-name" id="ingredient-name"
                            placeholder="Add ingredient"> --}}
                        {{!-- <button class="button-add" id="add-ingredient-button">Add Ingredient</button> --}}
                        {{!-- </form> --}}
                    <textarea class="description" id="ingredient-name" placeholder="Add ingredients" rows="4"
                        cols="80%"></textarea>
                    <div id="ingredients-list">
                    </div>
                </div>
            </div>
            <div id="controls">
                <button class="button" id="add-recipe">Add New Recipe</button>
            </div>
        </div>
    </form>
</section>
<script src="/js/add-recipe.js"></script>